body {
  background: #fff;
}
#banner {
  position: relative;
  height: 700px;
  width: 100%;
  margin: -1px auto 0;
  z-index: 200;
  overflow: hidden;
}
#banner .bannerBox {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center 192px;
  width: 384px;
  height: 350px;
  float: left;
  transform: rotateY(0deg);
  transition: all .7s;
}
#banner a {
  width: 100%;
  position: absolute;
  height: 350px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 10;
}
#banner .bannerBox a:nth-of-type(1) {
  transform-origin: center center;
  transform: rotateY(180deg);
}
#banner .bannerBox a:nth-of-type(2) {
  transform-origin: right;
  transform: rotateY(90deg);
}
#banner .bannerBox a:nth-of-type(3) {
  transform: translateZ(384px);
}
#banner .bannerBox a:nth-of-type(4) {
  transform-origin: left;
  transform: rotateY(-90deg);
}
#banner .banSite {
  width: 1920px;
  position: relative;
  left: 50%;
  margin-left: -960px;
}
#banner .banSite .bannerBox img {
  position: relative;
}
#banner .banSite .bannerBox:nth-of-type(2) img {
  left: -384px;
}
#banner .banSite .bannerBox:nth-of-type(3) img {
  left: -768px;
}
#banner .banSite .bannerBox:nth-of-type(4) img {
  left: -1152px;
}
#banner .banSite .bannerBox:nth-of-type(5) img {
  left: -1536px;
}
#banner .banSite:nth-of-type(2) .bannerBox img {
  top: -350px;
}
#banner ul {
  position: absolute;
  bottom: 50px;
  right: 300px;
}
#banner ul li {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  margin: 0 10px;
  z-index: 20;
  float: left;
  cursor: pointer;
  opacity: .1;
  border-radius: 24px 0;
  transition: all 0.5s;
  transform: scale(0, 0);
}
#banner ul li.colorLi {
  color: #fff;
  background: #202020;
}
.yusuanDetail {
  display: none;
}
.yusuanDetail p {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
.yusuanDetail p input {
  width: 60px;
}
.yusuanDetail select {
  display: block;
  text-indent: 5px;
  width: 90%;
  margin: 0 auto;
  height: 40px;
}
.yusuanDetail .yusuanBtn {
  width: 90%;
  margin: 10px auto 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background: red;
  color: #fff;
}
.shejiDetail p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 15px;
}
.shejiDetail input {
  display: block;
  height: 30px;
  width: 80%;
  margin: 10px auto 0;
  text-indent: .5em;
}
#main > div {
  width: 100%;
  background: #eee;
}
.m-title {
  position: relative;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding-top: 40px;
}
.m-title > div {
  float: left;
  height: 32px;
  line-height: 32px;
}
.m-title .dot {
  width: 4px;
  background: #54ffe2;
  margin-right: 10px;
}
.m-title .titleName {
  padding: 0 4px;
  font-size: 24px;
}
.m-title .title2nd {
  padding: 0 3px;
  font-size: 14px;
  color: #df7f33;
}
.m-title .more {
  float: right;
}
.m-title .more a {
  color: #737373;
  font-size: 14px;
  position: relative;
  left: 0;
  transition: all .5s;
}
.m-title .more a:hover {
  left: 5px;
  color: #DF7F33;
}
.m-title:after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -10px;
  width: 80%;
  height: 3px;
  background: linear-gradient(to right, #333333 0%, #eeeeee 100%);
}
.mainInner ul {
  height: 130px;
}
.mainInner ul li {
  float: left;
  display: block;
  height: 130px;
  width: 20%;
  background: #fff;
}
.mainInner ul li a {
  margin-top: 30px;
  background-image: url("../images/mainicon009.png");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 70px;
  float: left;
}
.mainInner ul li a p {
  margin-top: 20px;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}
.mainInner ul li a .title3nd {
  font-size: 14px;
  text-align: center;
}
.mainInner ul li .main02 {
  background-image: url("../images/mainicon006.png");
}
.mainInner ul li .main03 {
  background-image: url(../images/mainicon004.png);
}
.mainInner ul li .main04 {
  background-image: url(../images/mainicon008.png);
}
.mainInner ul li .main05 {
  background-image: url(../images/mainicon007.png);
}
.mainInner ul li.indexClearFix {
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
.main2Inner ul {
  height: 252px;
  margin-top: 10px;
}
.main2Inner ul li {
  width: 292px;
  height: 252px;
  margin: 0 4px;
  float: left;
}
.main2Inner ul li a {
  display: block;
  width: 292px;
  height: 252px;
}
.main-line {
  margin: 20px 0;
}
.main1Inner ul li a:hover {
  font-weight: bold;
}
.main2Inner ul {
  margin-top: 20px;
  height: 275px;
}
.main2Inner ul li {
  float: left;
  width: 292px;
  margin: 0px 4px;
  transition: all .7s;
  height: 258px;
  overflow: hidden;
}
.main2Inner ul li a.images {
  display: block;
  width: 100%;
  height: 192px;
}
.main2Inner ul li .name {
  background: #ebebeb;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.main2Inner ul li .name a {
  text-decoration: underline;
}
.main2Inner ul li p {
  text-indent: 1em;
  background: #ebebeb;
  padding: 5px;
  overflow: hidden;
  font-size: 14px;
  max-height: 18px;
}
.main2Inner ul li p span {
  display: inline-block;
  line-height: 18px;
  height: 18px;
  padding: 0 3px;
  background: teal;
}
.mainbox-image {
  height: 500px;
}
.mainbox-l,
.mainbox-c,
.mainbox-r {
  float: left;
  margin: 20px 0;
}
.mainbox-l {
  width: 260px;
  height: 450px;
  background: red;
}
.mainbox-c {
  width: 450px;
  height: 450px;
  background: green;
  margin-left: 20px;
  margin-right: 20px;
}
.mainbox-r {
  width: 450px;
  height: 450px;
}
.mainbox-r .mainbox-small {
  position: relative;
  width: 216px;
  height: 216px;
  float: left;
}
.mainbox-r .mainbox-small a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mainbox-r .mainbox-small img {
  width: 100%;
}
.mainbox-r .mainbox-small1 {
  margin-right: 14px;
}
.mainbox-r .mainbox-small3 {
  margin-right: 14px;
  margin-top: 18px;
}
.mainbox-r .mainbox-small4 {
  margin-top: 18px;
}
.flmain {
  position: relative;
  transition: all .4s;
  overflow: hidden;
}
.flmain .noteName {
  position: absolute;
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: #0A0A0A;
  opacity: .4;
  z-index: 100;
  zoom: 1;
  text-align: center;
  color: #fff;
  bottom: -90px;
  left: 0;
  transition: all .2s .3s;
}
.mainbox-c .noteName {
  height: 90px;
  line-height: 90px;
}
#main .main-line {
  width: 100%;
  height: 130px;
  margin: 15px 0;
  background: #805c13;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.wrap ul {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
}
.wrap ul li {
  display: block;
  float: left;
  width: 333px;
  height: 469px;
  background: rgba(10, 10, 10, 0.5);
  line-height: 400px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  transition: all .5s;
  position: absolute;
  cursor: pointer;
}
.wrap .p1 {
  top: 0;
  transform: scale(0.5);
  left: -255px;
  z-index: 10;
}
.wrap .p2 {
  top: 20px;
  transform: scale(0.65);
  left: -50px;
  z-index: 15;
}
.wrap .p3 {
  top: 50px;
  transform: scale(0.85);
  left: 160px;
  z-index: 20;
}
.wrap .p4 {
  top: 60px;
  left: 430px;
  z-index: 25;
}
.wrap .p5 {
  top: 50px;
  transform: scale(0.85);
  left: 700px;
  z-index: 20;
}
.wrap .p6 {
  top: 20px;
  transform: scale(0.65);
  left: 920px;
  z-index: 15;
}
.wrap .p7 {
  top: 0px;
  transform: scale(0.5);
  left: 1125px;
  z-index: 10;
}
#fengqin li:nth-of-type(1) img {
  transform: translate(-210px);
}
#fengqin li:nth-of-type(2) img {
  transform: translate(-180px);
}
#fengqin li:nth-of-type(3) img {
  transform: translate(-380px);
}
#fengqin li:nth-of-type(4) img {
  transform: translate(-450px);
}
#fengqin li:nth-of-type(5) img {
  transform: translate(-320px);
}
#fengqin {
  width: 800px;
  height: 512px;
  margin-top: 60px ;
  float: left;
}
#fengqin img {
  width: 600px;
  height: 512px;
  max-width: 600px;
}
#fengqin li {
  float: left;
  position: relative;
  width: 30px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: bottom;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#fengqin li img {
  transition: 1.2s;
}
#fengqin li a {
  display: block;
}
#fengqin li div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  line-height: 32px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-indent: 2em;
}
#fengqin li div a {
  color: #FFF;
  text-decoration: none;
}
#fengqin li div a:hover {
  color: #F00;
  text-decoration: none;
}
#fengqin li.active {
  cursor: pointer;
  transform: scale(1.02, 1.08);
  z-index: 3;
  width: 600px;
  filter: alpha(opacity=100);
  opacity: 1;
}
#fengqin li.active img {
  transform: translate(0px);
}
#fengqin li:nth-of-type(1) {
  transform-origin: bottom left;
}
#fengqin li:nth-of-type(5) {
  transform-origin: bottom right;
}
.main3 .mainInner {
  height: 605px;
}
