.banner {
  width: 100%;
  height: 700px;
  position: relative;
  z-index: 200;
}
.banner .bannerImg {
  width: 1920px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
  overflow: hidden;
}
.banner .bannerImg a {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.banner .bannerImg a.showA {
  display: block;
}
.banner .bannerBtn {
  position: absolute;
  bottom: 50px;
  right: 300px;
  filter: alpha(opacity=80);
}
.banner .bannerBtn li {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  margin: 0 5px;
  float: left;
  cursor: pointer;
  background: rgba(200, 200, 200, 0.5);
}
.banner .bannerBtn li.banSelLi {
  background: #777;
  color: #fff;
}
.main1 {
  margin-top: 40px;
}
.m-title {
  width: 100%;
  height: 50px;
}
.m-title > div {
  float: left;
}
.m-title .dot {
  width: 4px;
  height: 32px;
  background: #00a6b9;
  margin-top: 8px;
}
.m-title .titleName {
  height: 46px;
  line-height: 46px;
  width: 110px;
  text-align: center;
  font-size: 18px;
}
.m-title .title2nd {
  height: 46px;
  line-height: 46px;
  color: #df7f33;
  font-size: 16px;
}
.m-title .more {
  float: right;
}
.m-title .more a {
  color: #737373;
  line-height: 46px;
}
.m-title .line0 {
  height: 3px;
  width: 975px;
  background-image: url("../images/line0_03.jpg");
  float: none;
  clear: both;
  margin-left: 20px;
}
.mainInner ul {
  height: 130px;
}
.mainInner ul li {
  float: left;
  display: block;
  height: 130px;
  width: 20%;
  background: #fff;
}
.mainInner ul li a {
  margin-top: 30px;
  background-image: url("../images/mainicon009.png");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 70px;
  float: left;
}
.mainInner ul li a p {
  margin-top: 20px;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 18px;
  text-align: center;
}
.mainInner ul li a .title3nd {
  font-size: 14px;
  text-align: center;
}
.mainInner ul li .main02 {
  background-image: url("../images/mainicon006.png");
}
.mainInner ul li .main03 {
  background-image: url(../images/mainicon004.png);
}
.mainInner ul li .main04 {
  background-image: url(../images/mainicon008.png);
}
.mainInner ul li .main05 {
  background-image: url(../images/mainicon007.png);
}
.mainInner ul li.indexClearFix {
  width: 0;
  height: 0;
  font-size: 0;
  clear: both;
}
.main2 {
  width: 1200px;
  margin: 40px auto 0;
}
.main2Inner ul {
  height: 252px;
  margin-top: 10px;
}
.main2Inner ul li {
  width: 292px;
  height: 252px;
  margin: 0 4px;
  float: left;
  transition: all .3s;
}
.main2Inner ul li a {
  display: block;
  width: 292px;
  height: 252px;
}
.main-line {
  margin: 20px 0;
}
.main2Inner ul li a.images {
  display: block;
  width: 100%;
  height: 192px;
}
.main2Inner ul li .name {
  background: #ebebeb;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
}
.main2Inner ul li .name a {
  text-decoration: underline;
}
.main2Inner ul li p {
  text-indent: 1em;
  background: #ebebeb;
  padding: 5px;
  overflow: hidden;
  font-size: 14px;
  max-height: 18px;
}
.main2Inner ul li p span {
  display: inline-block;
  line-height: 18px;
  height: 18px;
  padding: 0 3px;
  background: teal;
}
.mainbox-image {
  height: 500px;
}
.mainbox-l,
.mainbox-c,
.mainbox-r {
  float: left;
  margin: 20px 0;
}
.mainbox-l {
  width: 260px;
  height: 450px;
  background: red;
}
.mainbox-c {
  width: 450px;
  height: 450px;
  background: green;
  margin-left: 20px;
  margin-right: 20px;
}
.mainbox-r {
  width: 450px;
  height: 450px;
}
.mainbox-r .mainbox-small {
  position: relative;
  width: 216px;
  height: 216px;
  float: left;
}
.mainbox-r .mainbox-small a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.mainbox-r .mainbox-small img {
  width: 100%;
}
.mainbox-r .mainbox-small1 {
  margin-right: 14px;
}
.mainbox-r .mainbox-small3 {
  margin-right: 14px;
  margin-top: 18px;
}
.mainbox-r .mainbox-small4 {
  margin-top: 18px;
}
.flmain {
  position: relative;
  transition: all .4s;
  overflow: hidden;
}
.flmain .noteName {
  position: absolute;
  width: 100%;
  height: 66px;
  line-height: 66px;
  background: #0A0A0A;
  filter: alpha(opacity=40);
  opacity: .5;
  text-align: center;
  color: #fff;
  bottom: -90px;
  left: 0;
  transition: all .2s .3s;
}
.mainbox-c .noteName {
  height: 90px;
  line-height: 90px;
  bottom: 0;
}
#main .main-line {
  width: 100%;
  height: 130px;
  margin: 15px 0;
  background: #805c13;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.wrap ul {
  width: 1200px;
  height: 550px;
  margin: 0 auto;
}
.wrap ul li {
  display: block;
  float: left;
  width: 333px;
  height: 469px;
  background: rgba(10, 10, 10, 0.5);
  line-height: 400px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  transition: all .5s;
  position: absolute;
  cursor: pointer;
}
.wrap .p1 {
  top: 0;
  transform: scale(0.5);
  left: -255px;
  z-index: 10;
}
.wrap .p2 {
  top: 20px;
  transform: scale(0.65);
  left: -50px;
  z-index: 15;
}
.wrap .p3 {
  top: 50px;
  transform: scale(0.85);
  left: 160px;
  z-index: 20;
}
.wrap .p4 {
  top: 60px;
  left: 430px;
  z-index: 25;
}
.wrap .p5 {
  top: 50px;
  transform: scale(0.85);
  left: 700px;
  z-index: 20;
}
.wrap .p6 {
  top: 20px;
  transform: scale(0.65);
  left: 920px;
  z-index: 15;
}
.wrap .p7 {
  top: 0px;
  transform: scale(0.5);
  left: 1125px;
  z-index: 10;
}
#fengqin li:nth-of-type(1) img {
  transform: translate(-210px);
}
#fengqin li:nth-of-type(2) img {
  transform: translate(-180px);
}
#fengqin li:nth-of-type(3) img {
  transform: translate(-380px);
}
#fengqin li:nth-of-type(4) img {
  transform: translate(-450px);
}
#fengqin li:nth-of-type(5) img {
  transform: translate(-320px);
}
#fengqin {
  width: 800px;
  height: 512px;
  margin-top: 60px ;
  float: left;
}
#fengqin img {
  width: 600px;
  height: 512px;
  max-width: 600px;
}
#fengqin li {
  float: left;
  position: relative;
  width: 30px;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  transform-origin: bottom;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#fengqin li img {
  transition: 1.2s;
}
#fengqin li a {
  display: block;
}
#fengqin li div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  line-height: 32px;
  filter: alpha(opacity=70);
  opacity: 0.7;
  text-indent: 2em;
}
#fengqin li div a {
  color: #FFF;
  text-decoration: none;
}
#fengqin li div a:hover {
  color: #F00;
  text-decoration: none;
}
#fengqin li.active {
  cursor: pointer;
  transform: scale(1.02, 1.08);
  z-index: 3;
  width: 600px;
  filter: alpha(opacity=100);
  opacity: 1;
}
#fengqin li.active img {
  transform: translate(0px);
}
#fengqin li:nth-of-type(1) {
  transform-origin: bottom left;
}
#fengqin li:nth-of-type(5) {
  transform-origin: bottom right;
}
.main3 .mainInner {
  height: 605px;
}
