.common-inner {
  position: relative;
}
#banner {
  width: 100%;
  height: 947px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  z-index: 2000;
}
#banner img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -960px;
}
.main {
  width: 100%;
  background: #e6ffea;
}
.main img {
  display: block;
}
.main p {
  margin-bottom: -4px;
}
.main .mainline {
  width: 100%;
  height: 154px;
  padding: 62px 0 72px ;
  background: #8ec63f;
}
.main .mainline h3,
.main .mainline h2 {
  text-align: center;
  color: #fff;
}
.main .mainline h3 {
  font-size: 50px;
  line-height: 64px;
}
.main .mainline h2 {
  font-size: 66px;
  line-height: 92px;
}
.main .mainBottom {
  width: 100%;
}
.main .mainBottom img {
  position: relative;
  margin-left: -960px;
  left: 50%;
  top: 0;
}
.main .zhuantiP0 {
  background: #fff;
}
.main .zhuantiP1 {
  background: #1e1a1b;
}
.main .zhuantiP00 {
  background: #010101;
  overflow: hidden;
}
.main .ZTbaoming {
  position: absolute;
  top: 159px;
  right: 36px;
  width: 302px;
  height: 257px;
}
.main .ZTbaoming input[type="text"] {
  width: 300px;
  height: 59px;
  font-size: 30px;
}
.main .ZTbaoming .phNub {
  margin: 33px 0;
}
.main .ZTbaoming .baomingBTN {
  width: 500px;
  height: 75px;
  background: #be9f79;
  color: #fff;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 350px;
  right: -7px;
  font-weight: bold;
  font-size: 18px;
}
.main .ZTzixun {
  position: absolute;
  top: 452px;
  right: 172px;
  width: 161px;
  height: 53px;
  cursor: pointer;
}
.main .ZTzixun1 {
  top: 1062px;
  right: 961px;
}
.main .ZTzixun2 {
  top: 1712px;
}
.zhuanti3box {
  width: 100%;
  height: 250px;
  background: #fff;
  padding-top: 52px;
}
.zhuanti3box .zhuanti3boxIn {
  display: block;
  width: 353px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  color: #fff;
  background: #059a9b;
  margin: 0 auto ;
  border-radius: 8px;
  cursor: pointer;
  font-size: 38px;
}
.zhuanti3box .zhuanti3boxIn:hover {
  color: #db961e;
}
.zhuanti3box2 {
  width: 100%;
  height: 624px;
  position: relative;
}
.zhuanti3box2 .zhuanti3box2In {
  position: absolute;
  width: 1200px;
  height: 624px;
  left: 50%;
  margin-left: -600px;
  top: 0;
}
.zhuanti3box2 .zhuanti3box2In input {
  display: block;
  position: absolute;
  left: 292px;
  width: 524px;
  height: 88px;
  line-height: 88px;
  font-size: 34px;
  text-indent: .5em;
  border: none;
  z-index: 20;
}
.zhuanti3box2 .zhuanti3box2In .elm {
  top: 55px;
}
.zhuanti3box2 .zhuanti3box2In .phNub {
  top: 183px;
}
.zhuanti3box2 .zhuanti3box2In .ZT3yuyue {
  position: absolute;
  left: 150px;
  top: 375px;
  width: 902px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  background: #049999;
  font-weight: bold;
  border-radius: 8px;
  z-index: 20;
  font-size: 36px;
  cursor: pointer;
}
.zhuanti3box2 .zhuanti3box2In .ZT3yuyue:hover {
  color: red;
}
.zhuanti3box2 .zhuanti3box2In a {
  position: absolute;
  font-size: 36px;
  background: #fff;
  color: #049999;
  left: 150px;
  top: 520px;
  width: 267px;
  padding: 0 317px;
  text-align: center;
}
.zhuanti3box2 .zhuanti3box2In a:hover {
  color: red;
}
